# coreflow 
langgraph
langchain
langchain-community
langchain-core

# LLM & AI
langchain-ollama
ollama

# RAG & data
chromadb
langchain-chroma
pypdf
python-docx
beautifulsoup4
duckduckgo-search

# interface 
python-telegram-bot

# utils 
pydantic
python-dotenv
pyyaml
watchfiles